[submodule "external/corrade"]
	path = external/corrade
	url = git://github.com/mosra/corrade.git
[submodule "external/magnum"]
	path = external/magnum
	url = git://github.com/mosra/magnum.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/linmath"]
	path = external/linmath
	url = https://github.com/datenwolf/linmath.h.git
[submodule "external/portaudio"]
	path = external/portaudio
	url = https://git.assembla.com/portaudio.git
